@import "common/reset.css";
@import "common/helpers.css";
@import "fonts.css";

@import "components/header.css";
@import "components/burger.css";
@import "components/navigation.css";
@import "components/banner.css";
@import "components/app-download.css";
@import "components/offers.css";
@import "components/offers-list.css";
@import "components/content-section.css";
@import "components/facts.css";
@import "components/testimonials.css";
@import "components/comments.css";
@import "components/swiper-slider.css";
@import "components/tariffs.css";
@import "components/tariffs-table.css";
@import "components/contacts.css";
@import "components/map.css";
@import "components/footer.css";

/*FORM*/
@import "components/ad.css";
@import "components/title.css";
@import "components/form.css";
@import "components/form-section.css";
@import "components/user-data.css";
@import "components/achievements.css";
@import "components/check.css";
@import "components/form-contacts.css";
@import "components/apps.css";
@import "components/radio-button.css";
@import "components/form-comment.css";
@import "components/submit.css";
@import "components/button.css";
@import "components/pop-up.css";

/*GALLERY*/

@import "components/gallery-title.css";
@import "components/panorama.css";
@import "components/panorama-comment.css";
@import "components/gallery-comment.css";
@import "components/gallery-list.css";
@import "components/gallery-item.css";
@import "components/filter.css";
