@import "common/reset.css";
@import "fonts.css";

@import "components/header.css";
@import "components/navigation.css";
@import "components/banner.css";
@import "components/offers.css";
@import "components/testimonials.css";
@import "components/tariffs.css";




