.hide-popup {
    display: none !important;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}
