.ad .content-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    padding: 40px 0;
}

.ad .ad__title {
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    line-height: 1.9;
    color: #283645;
}

