.apps {
    padding: 75px 0 40px;
    background: #f2f2f2;
}

@media (min-width: 768px) {
    .apps {
        order: 2;
        background: none;
        padding: 10px 0 50px;
        margin-bottom: 60px;
    }

    .apps .content-section__wrapper {
        width: 80%;
    }
}
