.banner {
    position: relative;
    height: 100vh;
    margin-top: -110px;
}

.banner-bg__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.banner-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url("../../img/header-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner__hand {
    position: absolute;
    bottom: 0;
    right: 100px;
}


.banner__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 73%;
    margin: 0 auto;
    z-index: 10;
}

.banner__sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.banner__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
    text-align: center;
    font-family: "OpenSans Light", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 1.2;
}


@media (max-width: 767px) {
    .banner {
        height: auto;
        margin-top: -68px;
    }

    .banner-bg {
        background: url("../../img/header-bg-mobile.jpg") no-repeat;
        background-size: cover;
        height: 462px;
        margin-top: -68px;
    }

    .banner__hand {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .banner__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        width: 87%;
        margin: 68px auto 0;
        padding-top: 25px;
    }

    .banner__sub-wrapper {
        flex-direction: column;
        justify-content: space-between;
        height: 638px;
        width: 100%;
    }

    .banner__title {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 1.2;
    }
}
