.banner {
    position: relative;
    height: auto;
}

.banner-bg__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: -110px;
    z-index: -1;
}

.banner-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url("../../img/header-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner__hand {
    position: absolute;
    bottom: 0;
    right: 100px;
}

.banner__wrapper {
    display: flex;
    align-items: center;
    height: 663px;
    width: 73%;
    margin: 0 auto;
    z-index: 10;
}

.banner__sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.banner__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
    text-align: center;
    font-family: "OpenSans Light", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 1.2;
}

@media (max-width: 1023px) {
    .banner {
        height: 618px;
        margin-top: -68px;
    }

    .banner__wrapper {
        height: 618px;
    }

    .banner-bg__wrapper {
        height: auto;
        margin-top: -42px;
    }

    .banner-bg {
        background: url("../../img/header-bg-tablet.jpg") no-repeat;
        background-size: cover;
        height: 728px;
        margin-top: -68px;
    }

    .banner__hand {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .banner__wrapper {
        width: 94%;
        margin: 68px auto 0;
    }

    .banner__sub-wrapper {
        justify-content: flex-start;
    }

    .banner__title {
        width: 70%;
        font-size: 40px;
        margin-bottom: 30px;
        line-height: 1.2;
    }

    /*FORM-TABLET*/

    .banner--form {
        height: auto;
    }

    .banner--form .banner-bg {
        height: 440px;
    }

    .banner--form .banner__wrapper {
        width: 80%;
        height: 330px;
    }

    .banner--form .banner__sub-wrapper {
        height: auto;
        width: 100%;
    }

    .banner--form .banner__title {
        width: 100%;
        padding-top: 30px;
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .banner {
        height: auto;
        margin-top: -68px;
    }

    .banner-bg__wrapper {
        height: auto;
        margin-top: 0;
    }

    .banner-bg {
        background: url("../../img/header-bg-mobile.jpg") no-repeat;
        background-size: cover;
        height: 462px;
        margin-top: -68px;
    }

    .banner__hand {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .banner__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        width: 87%;
        height: auto;
        margin: 68px auto 0;
    }

    .banner__sub-wrapper {
        flex-direction: column;
        justify-content: space-between;
        height: 664px;
        width: 100%;
    }

    .banner__title {
        padding-top: 25px;
        width: 100%;
        font-size: 24px;
        margin-bottom: 0;
        line-height: 1.2;
    }

    /*FORM-MOBILE*/

    .banner--form {
        height: auto;
    }

    .banner--form .banner-bg {
        height: 440px;
    }

    .banner--form .banner__wrapper {
        width: 80%;
        height: 169px;
    }

    .banner--form .banner-bg {
        height: 237px;
    }

    .banner--form .banner__sub-wrapper {
        height: 168px;
    }

    .banner--form .banner__title {
        padding-top: 30px;
        font-size: 24px;
    }
}
