.banner {
    position: relative;
    height: 100vh;
    margin-top: -110px;
}

.banner-bg__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.banner-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url("../../img/header-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner__hand {
    position: absolute;
    bottom: 0;
    right: 100px;
}


.banner__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 73%;
    margin: 0 auto;
    z-index: 10;
}

.banner__sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.banner__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
    text-align: center;
    font-family: "OpenSans Light", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 1.2;
}

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 49px;
    margin-bottom: 71px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    outline: none;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
}

.banner__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 52px;
}

.banner__brand-apple {
    width: 47px;
    height: 56px;
}

.banner__brand-android {
    width: 43px;
    height: 47px;
}

.banner__brand-microsoft {
    width: 44px;
    height: 41px;
}

.banner__descr {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: "OpenSans Light", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.3;
}

@media (max-width: 767px) {
    .banner {
        height: auto;
        margin-top: -68px;
    }

    .banner-bg {
        background: url("../../img/header-bg-mobile.jpg") no-repeat;
        background-size: cover;
        height: 462px;
        margin-top: -68px;
    }

    .banner__hand {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .banner__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        width: 87%;
        margin: 68px auto 0;
        padding-top: 25px;
    }

    .banner__sub-wrapper {
        flex-direction: column;
        justify-content: space-between;
        height: 638px;
        width: 100%;
    }

    .banner__title {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 1.2;
    }

    .banner-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 270px;
        background: #1d2631;
    }

    .banner-section__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 87%;
        padding: 28px 0 35px;
    }

    .banner__link {
        margin-bottom: 30px;
        font-size: 18px;
        max-width: 500px;
    }

    .banner__brands {
        margin-bottom: 25px;
        max-width: 300px;
    }

    .banner__descr {
        justify-content: center;
        align-items: center;
        width: 85%;
        max-width: 500px;
        font-size: 14px;
        line-height: 1.5;
    }
}
