.check {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 30px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
}

.check__box:after {
    content: "";
    position: absolute;
    display: none;
}

.check__input:checked ~ .check__box:after {
    display: block;
}

.check__box:after {
    left: 12px;
    top: 4px;
    width: 9px;
    height: 20px;
    border: solid #d22856;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
