.comments__text {
    width: 80%;
    margin-bottom: 40px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #283645;
}

.comments__author {
    margin-bottom: 15px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 24px;
    color: #000000;
}

.comments__author-info {
    display: block;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    color: #283645;
}

@media (max-width: 767px) {
    .comments__text {
        width: 100%;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 1.6;
    }

    .comments__author {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .comments__author-info {
        display: none;
    }
}
