.contacts .content-section__wrapper {
    padding: 70px 0 20px;
}

.contacts__title {
    width: 50%;
    margin-bottom: 65px;
    font-family: "OpenSans Light", sans-serif;
    font-size: 50px;
    line-height: 1.2;
    color: #283645;
    text-align: center;
}

.contacts__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.contacts__item-title {
    margin-bottom: 30px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 18px;
    color: #283645;
}

.contacts__item-text {
    text-align: center;
    font-family: "OpenSans Light", sans-serif;
    font-size: 24px;
    color: #d22856;
}
