.facts .content-section__wrapper {
    flex-direction: row;
    padding-bottom: 65px;
}

.facts__timer {
    width: 294px;
    height: 345px;
    margin-right: 70px;
}

.facts__main {
    display: flex;
    flex-direction: column;
}

.facts__title {
    margin-bottom: 20px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 30px;
    color: #000000;
}

.facts__text {
    margin-bottom: 35px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #283645;
}

.facts__link {
    width: fit-content;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    color: #d22856;
}

.facts__link:hover {
    text-decoration: none;
}
