.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section .content-section__wrapper {
    width: 87%;
}

.form-section__title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #d22856;
    text-transform: uppercase;
}

.form-section__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.form-section__label {
    margin-bottom: 13px;
    padding-left: 20px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
}

.form-section__input {
    width: 84%;
    padding: 16px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    color: #283645;
}

.form-section__input::placeholder {
    color: #283645;
}

