.form-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #d22856;
    text-transform: uppercase;
}

.form-section__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.form-section__label {
    margin-bottom: 13px;
    padding-left: 20px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
}

.form-section__item-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-section__input {
    width: 84%;
    padding: 16px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    color: #283645;
}

.form-section__textarea {
    width: 84%;
    height: 156px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    resize: none;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    line-height: 1.9;
    color: #283645;
}

.form-section__subtitle {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    color: #283645;
    text-transform: uppercase;
}

.form-section__subtitle span {
    color: #d22856;
}

.form-section__input-logo {
    display: none;
}

@media (min-width: 768px) {
    .form-section {
        width: 94%;
        margin: 0 auto;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
    }

    .form-section__title {
        position: unset;
        width: auto;
        margin: 0 auto;
        text-align: center;
        padding: 0 25px;
        font-size: 14px;
    }

    .form-section__item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .form-section__label {
        margin-bottom: 0;
        margin-right: 20px;
        padding-left: 0;
        font-size: 14px;
    }

    .form-section__input {
        width: 100%;
        padding: 17px 21px;
        font-size: 18px;
    }

    .form-section__textarea {
        width: 92%;
        margin-top: 0;
    }

    .form-section__subtitle {
        font-family: "OpenSans Regular", sans-serif;
        font-size: 14px;
        color: #283645;
        text-transform: uppercase;
    }

    .form-section__subtitle span {
        color: #d22856;
    }

    .form-section__input-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 63px;
        height: 63px;
        background: #e5e5e5;
        margin-left: -1px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
