.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-item__title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #d22856;
    text-transform: uppercase;
}
