.form-comment {
    padding: 60px 0 40px;
}

@media (min-width: 768px) {
    .form-comment {
        order: 5;
        padding: 45px 0 50px;
        margin-bottom: 65px;
    }

    .form-comment .content-section__wrapper {
        width: 80%;
    }
}
