.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: #f2f2f2;
    margin-top: 20px;
}

.gallery-item__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.gallery-item__photo {
    width: 100%;
}

@media (min-width: 768px) {
    .gallery-item {
        width: 48%;
    }

    .gallery-item__wrapper {
        height: 300px;
    }
}

@media (min-width:1024px) {
    .gallery-item {
        width: 32%;
        margin-top: 50px;
    }

    .gallery-item__wrapper {
        height: 400px;
    }
}
