.gallery-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .gallery-list .content-section__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
