.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110px;
    background: rgba(0, 0, 0, 0.25);
    z-index: 30;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    height: 100%;
}

@media (max-width: 1023px) {
    .burger--open {
        display: flex;
        flex-direction: column;
        height: auto;
        background: #283645;
    }

    .header__wrapper {
        width: 94%;
        height: 100%;
    }

    .burger--open .header__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        height: 68px;
    }

    .burger--open {
        display: flex;
        flex-direction: column;
        height: auto;
        background: #283645;
    }

    .header__wrapper {
        width: 87%;
    }
}

