.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    height: 100%;
}

.header__link-logo {
    display: flex;
    height: min-content;
}

.header__logo {
    width: 147px;
    height: 40px;
}

.header__logo--mobile {
    display: none;
}

@media (max-width: 767px) {
    .header__logo {
        display: none;
    }

    .header__logo--mobile {
        display: flex;
    }

    .header__burger-menu-logo {
        display: flex;
    }

    .header__wrapper {
        width: 87%;
        height: 100%;
    }

    .burger-menu  {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 326px;
        background: #283645;
        z-index: 30;
    }

    .burger-menu .header__wrapper {
        display: flex;
        flex-direction: column;
    }

    .burger-menu__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .burger-menu__navigation {
        display: flex;
        flex-direction: column;
    }
}
