.map .content-section__bg {
    clip-path: polygon(50% 20%, 0 0, 100% 0);
    z-index: 10;
    background: #ffffff;
}

.map .content-section__wrapper {
    width: 100%;
}

@media (max-width: 767px) {
    .map__main iframe {
        height: 200px!important;
    }
}
