.content-section--offers .content-section__bg {
    clip-path: polygon(0 41%, 100% 33%, 100% 100%, 0% 100%);
}

.content-section--offers .content-section__wrapper {
    padding-bottom: 60px;
}

.offers__title {
    width: 80%;
    padding-top: 80px;
    margin-bottom: 70px;
    font-family: "OpenSans Light", sans-serif;
    font-size: 50px;
    line-height: 1.2;
    color: #283645;
    text-align: center;
}






