.offers-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.offers-items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
}

.offers-items__photo {
    margin-bottom: 60px;
}

.offers-items__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 30px;
    color: #000000;
}

.offers-items__text {
    text-align: center;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #283645;
}
