.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container--table {
    display: none;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 41px;
    z-index: 10;
    cursor: pointer;
}

.arrow-next {
    right: 10px;
    left: auto;
}

.arrow-prev {
    right: auto;
    left: 10px;
    transform: scaleX(-1);
}

@media (max-width: 1023px) {
    .testimonials .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .arrow {
        display: none;
    }

    .swiper-pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background-color: #ffffff!important;
        border: 2px solid #283645;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 7px!important;
        display: inline-block;
        border-radius: 100%;
        background-color: #bec2c7;
    }
}

@media (max-width: 767px) {
    .swiper-container--table {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .testimonials .swiper-slide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .swiper-pagination{
        bottom: 0 !important;
    }

    .swiper-container--table .swiper-pagination{
        bottom: -40px!important;
    }
}
