.tariffs-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tariffs-table__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tariffs-table__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 60px;
    background: #ffffff;
    border-top: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
}

.tariffs-table__item:first-child {
    justify-content: flex-start;
}

.tariffs-table__item:last-child {
    border-right: 2px solid #e5e5e5;
}

.tariffs-table__row:last-child .tariffs-table__item {
    border-bottom: 2px solid #e5e5e5;
}

.tariffs-table__item--header {
    position: relative;
    flex-direction: column;
    height: 98px;
    background: #283645;
    border: none;
    margin-left: 2px;
}

.tariffs-table__item--empty {
    background: none;
}

.tariffs-table__item--header:nth-child(2) {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tariffs-table__item--header:last-child {
    border-right: 2px solid #283645;
    margin-right: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.tariffs-table__header-title {
    margin-bottom: 10px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.tariffs-table__header-value {
    font-family: "OpenSans Light", sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.tariffs-table__sticker--wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.tariffs-table__sticker {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 9px 0;
    left: -35px;
    top: 10px;
    width: 120px;
    background: #d22856;
}

.tariffs-table__title {
    font-family: "OpenSans Regular", sans-serif;
    font-size: 18px;
    padding-left: 24px;
    line-height: 28px;
    color: #283645;
}

.tariffs-table__status {
    width: 28px;
    height: 28px;
}

@media (max-width: 767px) {
    .tariffs-table {
        display: none;
    }

    .tariffs-table__row {
        display: none;
    }

    .tariffs-table__item {
        width: 100%;
        height: 60px;
        background: #ffffff;
        border-top: 2px solid #e5e5e5;
        border-left: 2px solid #e5e5e5;
    }

    .tariffs-table__item:first-child {
        justify-content: center;
    }

    .tariffs-table__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 84%;
    }

    .tariffs-table__item--header {
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 98px;
        background: #283645;
        border: none;
        border-left: 2px solid #e5e5e5;
        margin-left: 0;
    }

    .swiper-slide:first-child .tariffs-table__item--header {
        border-left: 2px solid #283645;
        border-top-left-radius: 3px;
    }

    .tariffs-table__item:last-child {
        border-bottom: 2px solid #e5e5e5;
        border-right: none;
    }

    .swiper-slide:last-child .tariffs-table__item {
        border-right: 2px solid #e5e5e5;
    }

    .swiper-slide:last-child .tariffs-table__item--header {
        border-top-right-radius: 3px;
        border-right: 2px solid #283645;
    }

    .tariffs-table__title {
        font-size: 14px;
        padding-left: 0;
        text-transform: uppercase;
    }
}
